name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v2
    - name: Install QBE
      run: |
        git clone -b fork2 --single-branch https://github.com/kengorab/qbe-mirror
        mv qbe-mirror qbe
        cd qbe
        make
    - name: Setup QBE
      run: |
        echo "PATH=$(pwd)/qbe:$PATH" >> $GITHUB_ENV
    - name: Install ext dependencies
      run: ./projects/compiler/scripts/configure-libgc.sh
    - name: Install abra
      run: |
        mkdir abra-linux
        wget https://github.com/kengorab/abra-lang/releases/latest/download/abra-linux.tar.gz
        tar -xzf abra-linux.tar.gz -C abra-linux
        echo "PATH=$(pwd)/abra-linux:$PATH" >> $GITHUB_ENV
        # echo "ABRA_HOME=`realpath $(pwd)/abra-linux/std`" >> $GITHUB_ENV
        echo "ABRA_HOME=`realpath $(pwd)/projects/std/src`" >> $GITHUB_ENV
        echo "ABRA_STD=`realpath $(pwd)/projects/std/src`" >> $GITHUB_ENV
        echo "ABRA_ROOT=`realpath $(pwd)/abra-installation`" >> $GITHUB_ENV
    - name: Run tests
      run: |
        cd projects/compiler
        node test/run-tests.js
    - name: Run tests against compiler-next
      run: |
        cd projects/compiler
        abra build -o compiler_next ./src/compiler.test.abra
        COMPILER_BIN=./._abra/compiler_next node test/run-tests.js
    - name: Run tests against ir-compiler-next
      run: |
        cd projects/compiler
        abra build -o ir_compiler ./src/ir_compiler.test.abra
        COMPILER_BIN=./._abra/ir_compiler abra build -o ir_compiler2 ./src/ir_compiler.test.abra
        COMPILER_BIN=./._abra/ir_compiler2 node test/run-tests.js
